<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="nancy" type="MskManager.Common.Configurations.Nancy.NancySection, MskManager.Common" />
  </configSections>
  <nancy domain="localhost" port="9998" />
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66"/>
        <!-- Assembly versions can be redirected in app,   
          publisher policy, or machine configuration files. -->
        <bindingRedirect oldVersion="3.4.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      
      
    </assemblyBinding>
  </runtime>
</configuration>