<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="nancy" type="MskManager.Common.Configurations.Nancy.NancySection, MskManager.Common" />
  </configSections>
  <nancy domain="localhost" port="9998" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>