<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="scrapper" type="MskManager.Common.Configurations.Scrapper.ScrapperSection, MskManager.Common" />
    <section name="nancy" type="MskManager.Common.Configurations.Nancy.NancySection, MskManager.Common" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <scrapper>
    <radios>
      <add name="djam" uri="http://www.djamradio.com/actions/infos.php" />
      <add name="nova" uri="http://www.nova.fr/radio/19577/player" />
      <add name="fip" uri="http://www.fipradio.fr/livemeta/7" />
    </radios>
  </scrapper>
  <nancy domain="localhost" port="9999" />
  <nlog>
    <targets>
      <target name="error" type="File" fileName="C:\dev\Logs\MskManager\error.log" layout="${date:universalTime=true} ${exception:format=toString}" />
      <target name="song" type="File" fileName="C:\dev\Logs\MskManager\song.log" layout="${date:universalTime=true} ${message}" />
      <target name="scrapper" type="File" fileName="C:\dev\Logs\MskManager\scrapper.log" layout="${date:universalTime=true} ${message}" />
    </targets>
    <rules>
      <logger name="MskManager.Scrapper.Handlers.*" level="Error" writeTo="error" />
      <logger name="MskManager.Scrapper.Parsers.BaseParser" level="Trace" writeTo="song" />
      <logger name="MskManager.Scrapper.Scrappers.RadioScrapper" level="Trace" writeTo="scrapper" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>